{{ define "main" }}
  <!-- Startseite -->
  {{ .Content }}
  <form action="?" method="POST" class="pt-4">
    <label for="field">Input field</label>
    <input id="field" type="text" class="border-b outline-none" />
    <div id="g-recaptcha1" class="py-4"></div>
    <div id="g-recaptcha2" class="py-4"></div>
    <br />
    <input type="submit" value="{{ i18n "Senden" }}" class="p-4 rounded-lg" />
  </form>
{{ end }}
