<!DOCTYPE html>
<html dir="{{ .Site.Language.LanguageDirection | default "ltr" }}" class="scroll-smooth" id="top" lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  {{ block "meta_schema" . }}
    {{ partial "meta_schema.html" . }}
  {{ end }}
</head>
<body class="container mx-auto px-4 py-4 bg-white text-black">
  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{ end }}

  <main itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
    {{ block "main" . }}
    {{ end }}
  </main>


  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}


  {{ block "inline_javascript" . }}
    {{ partial "inline_javascript.html" . }}
  {{ end }}
</body>
</html>