/* https://jonassebastianohlsson.com/criticalpathcssgenerator/ */

:root {
  color-scheme: light;
}

*,
::before,
::after {
  box-sizing: border-box
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

hr {
  height: 0;
  color: inherit
}

::-moz-focus-inner {
  border-style: none;
  padding: 0
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

h1,
h2,
hr,
p {
  margin: 0
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

html {
  font-family: Roboto, sans-serif;
  line-height: 1.5
}

body {
  font-family: inherit;
  line-height: inherit
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: initial
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
  aspect-ratio: attr(width) / attr(height);
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

img {
  display: block;
  vertical-align: middle
}

img {
  max-width: 100%;
  height: auto
}

*,
::before,
::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity))
}

.container {
  width: 100%
}

@media (min-width:640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width:1536px) {
  .container {
    max-width: 1536px
  }
}

.scroll-smooth {
  scroll-behavior: smooth
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important
}

.mr-2 {
  margin-right: .5rem !important
}

.mr-4 {
  margin-right: 1rem !important
}

.mb-4 {
  margin-bottom: 1rem !important
}

.inline-block {
  display: inline-block !important
}

.flex {
  display: flex !important
}

.flex-row {
  flex-direction: row !important
}

.flex-col {
  flex-direction: column !important
}

.flex-wrap {
  flex-wrap: wrap !important
}

.rounded-lg {
  border-radius: .5rem !important
}

.border {
  border-width: 1px !important
}

.border-transparent {
  border-color: transparent !important
}

.border-gray-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgba(156, 163, 175, var(--tw-border-opacity)) !important
}

.bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important
}

.bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity)) !important
}

.p-2 {
  padding: .5rem !important
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important
}

.pt-4 {
  padding-top: 1rem !important
}

.pl-4 {
  padding-left: 1rem !important
}

.text-sm {
  font-size: .875rem !important;
  line-height: 1.25rem !important
}

.font-bold {
  font-weight: 700 !important
}

.not-italic {
  font-style: normal !important
}

.text-black {
  --tw-text-opacity: 1 !important;
  color: rgba(0, 0, 0, var(--tw-text-opacity)) !important
}

*,
::before,
::after {
  --tw-shadow: 0 0 #0000
}

*,
::before,
::after {
  --tw-ring-inset: var(--tw-empty,
      /*!*/
      /*!*/
    );
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000
}

@media (min-width:768px) {
  .md\:ml-auto {
    margin-left: auto !important
  }

  .md\:flex-row {
    flex-direction: row !important
  }

  .md\:rounded-none {
    border-radius: 0 !important
  }

  .md\:bg-transparent {
    background-color: transparent !important
  }

  .md\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
  }

  .md\:pt-0 {
    padding-top: 0 !important
  }

  .md\:pr-4 {
    padding-right: 1rem !important
  }

  .md\:underline {
    text-decoration: underline !important
  }
}