<!-- Icons, Create @ https://realfavicongenerator.net/ -->
<!-- Use root folder / for creating HTML-Code-->
<!-- Use .png instead of .ico -->
<!-- Move apple-touch-icon.png and favicon.png in /static/ folder and edit HTML-code -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png" /> <!-- iOS Safari -->
<link rel="mask-icon" href="{{ .Site.BaseURL }}images/icons/favicons/safari-pinned-tab.svg" color="#5bbad5" /> <!-- macOS Safari -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/icons/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/icons/favicons/favicon-16x16.png" />
<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.png" />