<hr class="my-4">
<footer>
  <address class="flex flex-col md:flex-row text-sm not-italic">
    <div class="md:pr-4">
      <a href="{{ "" | absLangURL }}" class="font-bold">{{ with $.Site.Data.siteVar.schema.siteName }}{{ . }}{{ end }}</a><br />
      {{ with $.Site.Data.siteVar.schema.street }}{{ . }}{{ end }}<br />
      {{ with $.Site.Data.siteVar.schema.code }}{{ . }}{{ end }}
      {{ with $.Site.Data.siteVar.schema.locality }}{{ . }}{{ end }}<br />
      {{ with $.Site.Data.siteVar.schema.country }}{{ . }}{{ end }}
    </div>
    <div class="pt-4 md:pr-4 md:pt-0">
      {{ with $.Site.Data.siteVar.schema.telephone2 }}{{ i18n "Telefon" }}: {{ . }}<br />{{ end }}
      {{ with $.Site.Data.siteVar.schema.faxNumber2 }}{{ i18n "Telefax" }}: {{ . }}<br />{{ end }}
      {{ i18n "EMail" }}: {{ partial "cloakemail" (dict "context" . "address" $.Site.Data.siteVar.schema.email) }}
    </div>
    <div class="flex flex-row flex-wrap pt-4 md:pt-0 md:ml-auto">
      {{ $siteLanguages := .Site.Languages }}
      {{ $pageLang := .Page.Lang }}
      {{- range .Page.AllTranslations }}
      {{ $translation := . }}
      {{- range sort $siteLanguages "Weight" "asc" }}
      {{- if eq $translation.Lang .Lang }}
      {{ if eq $pageLang .Lang }}
      <a href="{{ $translation.Permalink }}" class="mr-2" title="{{ .Params.languageName }}">
        <img class="p-2 border border-gray-400" width="50" height="30"
          src="{{ $.Site.BaseURL }}images/icons/flags/flag_{{ .Params.languageNameShort }}.svg"
          alt="Icon {{ .Params.languageName }}" />
      </a>
      {{ else }}
      <a href="{{ $translation.Permalink }}" class="mr-2" title="{{ .Params.languageName }}">
        <img class="p-2 border border-transparent md:hover:border-gray-400" width="50" height="30"
          src="{{ $.Site.BaseURL }}images/icons/flags/flag_{{ .Params.languageNameShort }}.svg"
          alt="Icon {{ .Params.languageName }}" />
      </a>
      {{ end }}
      {{- end }}
      {{- end }}
      {{- end }}
    </div>
    <ul class="flex flex-row flex-wrap pt-4 md:pt-0 md:ml-auto">
      {{ range .Site.Menus.footer }}
      <li>
        <a href="{{ .URL  | absLangURL }}" title="{{ .Name }}"
          class="bg-gray-200 rounded-lg md:bg-transparent md:rounded-none md:underline md:hover:text-red-700 px-4 py-4 md:py-0 mr-4 mb-4 inline-block">{{ .Name | safeHTML }}</a>
      </li>
      {{ end }}
      <li>
        <a href="#" data-cc="c-settings" title="{{ i18n "cc_cookie_preferences_btn" }}"
          class="bg-gray-200 rounded-lg md:bg-transparent md:rounded-none md:underline md:hover:text-red-700 px-4 py-4 md:py-0 mr-4 mb-4 inline-block cursor-pointer">{{ i18n "cc_cookie_preferences_btn" }}</a>
      </li>
    </ul>
  </address>

  <!-- 
    <ul class="flex flex-row pt-4">
      {{ range .Site.Data.siteVar.schema.socialMedia }}
      {{ $url := urls.Parse . }}	
      {{ $name := index (split $url.Host ".") 1 }}
      <li class="pr-4">
        <a href="{{ . }}" target="_blank" title="{{ i18n $name }}"><img width="25" height="25" src="{{ $.Site.BaseURL }}images/icons/socialmedia/{{ $name }}.svg" class="socialmedia__icons" alt="{{ i18n $name }}" /></a>
      </li>
      {{ end }} 
    </ul>
    -->

</footer>