{{/*  /assets/js/main.js 
{{ $js := resources.Get "js/main.js" | minify }}
<script src="{{ $js.Permalink }}" defer></script> */}}

{{/*  /assets/js/main.js   */}}
{{ $cookieconsent := resources.Get "js/cookieconsent.js" | minify }}
<script src="{{ $cookieconsent.Permalink }}" defer></script>

{{ $cookieconsent := resources.Get "css/vendor/cookieconsent.css" | minify }}
<script>
  window.addEventListener('load', function () {

    // obtain plugin
    var cc = initCookieConsent();

    // run plugin with your configuration
    cc.run({
      current_lang: '{{ .Page.Lang }}',
      autoclear_cookies: true, // default: false
      theme_css: '{{ $cookieconsent.Permalink }}', // 🚨 replace with a valid path
      page_scripts: true, // default: false

      // mode: 'opt-in'                          // default: 'opt-in'; value: 'opt-in' or 'opt-out'
      // delay: 0,                               // default: 0
      // auto_language: '',                      // default: null; could also be 'browser' or 'document'
      // autorun: true,                          // default: true
      // force_consent: false,                   // default: false
      // hide_from_bots: false,                  // default: false
      // remove_cookie_tables: false             // default: false
      // cookie_name: 'cc_cookie',               // default: 'cc_cookie'
      // cookie_expiration: 182,                 // default: 182 (days)
      // cookie_necessary_only_expiration: 182   // default: disabled
      // cookie_domain: location.hostname,       // default: current domain
      // cookie_path: '/',                       // default: root
      // cookie_same_site: 'Lax',                // default: 'Lax'
      // use_rfc_cookie: false,                  // default: false
      // revision: 0,                            // default: 0

      onFirstAction: function (user_preferences, cookie) {
        // callback triggered only once on the first accept/reject action
      },

      onAccept: function (cookie) {
        // callback triggered on the first accept/reject action, and after each page load
      },

      onChange: function (cookie, changed_categories) {
        // callback triggered when user changes preferences after consent has already been given
      },

      languages: {
        '{{ .Page.Lang }}': {
          consent_modal: {
            title: '{{ i18n "cc_modal_title" }} 🍪',
            description: '{{ i18n "cc_modal_description" | safeHTML }}',
            primary_btn: {
              text: '{{ i18n "cc_accept_btn" }}',
              role: 'accept_all' // 'accept_selected' or 'accept_all'
            },
            secondary_btn: {
              text: '{{ i18n "cc_reject_btn" }}',
              role: 'accept_necessary' // 'settings' or 'accept_necessary'
            }
          },
          settings_modal: {
            title: '{{ i18n "cc_bigmodal_title" }}',
            save_settings_btn: '{{ i18n "cc_save_btn" }}',
            accept_all_btn: '{{ i18n "cc_accept_btn" }}',
            reject_all_btn: '{{ i18n "cc_reject_btn" }}',
            close_btn_label: '{{ i18n "cc_close_btn" }}',
            cookie_table_headers: [{
                col1: '{{ i18n "cc_cookie_name" }}'
              },
              {
                col2: '{{ i18n "cc_cookie_domain" }}'
              },
              {
                col3: '{{ i18n "cc_cookie_expiration" }}'
              },
              {
                col4: '{{ i18n "cc_cookie_description" }}'
              }
            ],
            blocks: [{
              title: '{{ i18n "cc_block_title" }}',
              description: '{{ i18n "cc_block_description" }}'
            }, {
              title: '{{ i18n "cc_cookies_necessary_title" }}',
              description: '{{ i18n "cc_cookies_necessary_description" }}',
              toggle: {
                value: 'necessary',
                enabled: true,
                readonly: true // cookie categories with readonly=true are all treated as "necessary cookies"
              }
            }, {
              title: '{{ i18n "cc_cookies_analytics_title" }}',
              description: '{{ i18n "cc_cookies_analytics_description" }}',
              toggle: {
                value: 'analytics', // your cookie category
                enabled: false,
                readonly: false
              },
              cookie_table: [ // list of all expected cookies
                {
                  col1: '{{ i18n "cc_cookies_analytics_01_name" }}', // match all cookies starting with "_ga"
                  col2: '{{ i18n "cc_cookies_analytics_01_domain" }}',
                  col3: '{{ i18n "cc_cookies_analytics_01_expiration" }}',
                  col4: '{{ i18n "cc_cookies_analytics_01_description" }}',
                  is_regex: true
                }
              ]
            }, {
              title: '{{ i18n "cc_cookies_marketing_title" }}',
              description: '{{ i18n "cc_cookies_marketing_description" }}',
              toggle: {
                value: 'targeting',
                enabled: false,
                readonly: false
              }
            }, {
              title: '{{ i18n "cc_more_info" }}',
              description: '{{ i18n "cc_contact_us" | safeHTML }}',
            }]
          }
        }
      }
    });
  });
</script>


<!-- Google Tracking Code -->
<script type="text/plain" data-cookiecategory="analytics" defer>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ $.Site.Data.siteVar.params.GATrackingId }}', 'auto');
  ga('set', 'anonymizeIp', {{ $.Site.Data.siteVar.params.GAAnonymize }});
  ga('send', 'pageview');
</script>

{{ if eq .Params.formWithRecaptcha "true" }}
<!-- Google Recaptcha  -->
<script type="text/javascript" data-cookiecategory="necessary" defer>
  var gRecaptcha1;
  var gRecaptcha2;
  var onloadCallback = function () {
    gRecaptcha1 = grecaptcha.render("g-recaptcha1", {
      sitekey: "6Ld5Cx8cAAAAAIn616Eb37XhWKHPxS-__8ryLIXt",
      theme: "light",
    });
    gRecaptcha2 = grecaptcha.render("g-recaptcha2", {
      sitekey: "6Ld5Cx8cAAAAAIn616Eb37XhWKHPxS-__8ryLIXt",
      theme: "dark",
    });
  };
</script>
<script async src="https://www.google.com/recaptcha/api.js?onload=onloadCallback"></script>
{{ end }}