<!-- Building schemaType -->
{{ $schemaType := $.Site.Data.siteVar.schema.schemaType }}
{{ with .Params.schemaType }}
  {{ $schemaType = . }}
{{ end }}

<!-- Building destination for logo -->
{{ $scratch := newScratch }}
{{ $scratch.Set "logo" .Site.BaseURL }}
{{ $scratch.Add "logo" "images/schema_opengraph/" }}
{{ $scratch.Add "logo" $.Site.Data.siteVar.schema.logo }}

<!-- Building current folder with custom canonical -->
{{ $scratch := newScratch }}
{{ $scratch.Set "currentFolder" $.Site.Data.siteVar.params.canonical }}
{{ $scratch.Add "currentFolder" .RelPermalink }}

<!-- Building destination for current opengraph-Image -->
{{ $scratch.Set "openGraphImage" .Site.BaseURL }}
{{ if .Params.openGraphImage }}
  {{ $scratch.Add "openGraphImage" .Params.openGraphImage }}
{{ else }}
  {{ $scratch.Add "openGraphImage" $.Site.Data.siteVar.schema.openGraphImage }}
{{ end }}

<!-- Current languageCode -->
{{ $languageCode := "" }}
{{ $siteLanguages := .Site.Languages }}
{{ $pageLang := .Page.Lang }}
{{ range .Page.AllTranslations }}
  {{ $translation := . }}
  {{ range sort $siteLanguages "Weight" "asc" }}
    {{ if eq $translation.Lang .Lang }}
      {{ if eq $pageLang .Lang}}
        {{ $languageCode = .Params.languageCode }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ hugo.Generator }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>
{{ block "title" . }}
  {{ .Title }}
{{ end }}
</title>
<!-- Preconnet Links -->
{{/*  <link rel="preconnect" href="https://www.google-analytics.com" />  */}}
{{ if $.Site.Data.siteVar.globalImages.imageCDN }}
<link rel="preconnect" href="{{ $.Site.Data.siteVar.globalImages.imageCDN }}" />
<link rel="dns-prefetch" href="{{ $.Site.Data.siteVar.globalImages.imageCDN }}" />
{{ end }}

<!-- Preload Webfonts -->
<link rel="prefetch" href="{{ .Site.BaseURL }}fonts/roboto-v27-latin-100.woff2" as="font" type="font/woff2" crossorigin>
<link rel="prefetch" href="{{ .Site.BaseURL }}fonts/roboto-v27-latin-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="prefetch" href="{{ .Site.BaseURL }}fonts/roboto-v27-latin-700.woff2" as="font" type="font/woff2" crossorigin>

<!-- Canonical Tag -->
<link rel="canonical" href="{{ if $.Site.Data.siteVar.params.canonical }}{{ $scratch.Get "currentFolder" }}{{ else }}{{ .Permalink }}{{ end }}" />

<!-- href lang Tag -->
{{ if .IsTranslated }}
	{{ range .Translations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ if $.Site.Data.siteVar.params.canonical }}{{ $.Site.Data.siteVar.params.canonical }}{{ .RelPermalink }}{{ else }}{{ .Permalink }}{{ end }}" title="{{ .Language.LanguageName }}">
	{{ end }}
{{ end }}

<!-- Meta Tags -->
{{ with .Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
{{ with .Params.keywords }}<meta name="keywords" content={{ delimit . " " }} />{{ end }}
{{ with $.Site.Data.siteVar.params.googleSiteVerification }}<meta name="google-site-verification" content="{{ . }}">{{ end }}
{{ if .Params.author | or $.Site.Data.siteVar.params.author }}<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ $.Site.Data.siteVar.params.author }}{{ end }}" />{{ end }}
{{ if .Params.publisher | or $.Site.Data.siteVar.params.publisher }}<meta name="publisher" content="{{ if .Params.publisher }}{{ .Params.publisher }}{{ else }}{{ $.Site.Data.siteVar.params.publisher }}{{ end }}" />{{ end }}
{{ if .Params.copyright | or $.Site.Data.siteVar.params.copyright }}<meta name="copyright" content="&copy;{{ dateFormat "2006" now }} {{ if .Params.copyright }}{{ .Params.copyright }}{{ else }}{{ $.Site.Data.siteVar.params.copyright }}{{ end }}" />{{ end }}
{{ if .Params.pageType | or $.Site.Data.siteVar.params.pageType }}<meta name="page-type" content="{{ if .Params.pageType }}{{ delimit .Params.pageType ", " }}{{ else }}{{ delimit $.Site.Data.siteVar.params.pageType ", " }}{{ end }}" />{{ end }}
{{ if .Params.pageTopic | or $.Site.Data.siteVar.params.pageTopic }}<meta name="page-topic" content="{{ if .Params.pageTopic }}{{ delimit .Params.pageTopic ", " }}{{ else }}{{ delimit $.Site.Data.siteVar.params.pageTopic ", " }}{{ end }}" />{{ end }}
{{ if .Params.audience | or $.Site.Data.siteVar.params.audience }}<meta name="audience" content="{{ if .Params.audience }}{{ .Params.audience }}{{ else }}{{ $.Site.Data.siteVar.params.audience }}{{ end }}" />{{ end }}
{{ if .Params.robots | or $.Site.Data.siteVar.params.robots }}<meta name="robots" content="{{ if .Params.robots }}{{ .Params.robots }}{{ else }}{{ $.Site.Data.siteVar.params.robots }}{{ end }}" />{{ end }}
{{ if .Params.revisitAfter | or $.Site.Data.siteVar.params.revisitAfter }}<meta name="revisit-after" content="{{ if .Params.revisitAfter }}{{ .Params.revisitAfter }}{{ else }}{{ $.Site.Data.siteVar.params.revisitAfter }}{{ end }}" />{{ end }}

{{ with $.Site.Data.siteVar.params.twitterSite }}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ . }}" /> 
{{ end }}

<!-- Open Graph data -->
{{ with $.Site.Data.siteVar.schema.siteName }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ if $.Site.Data.siteVar.params.canonical }}{{ $.Site.Data.siteVar.params.canonical }}{{ .RelPermalink }}{{ else }}{{ .Permalink }}{{ end }}" />
<meta property="og:locale" content="{{ $languageCode }}" />

{{ if .IsTranslated }}
	{{ range .Translations }} 
  <meta property="og:locale:alternate" content="{{ .Language.Params.languageCode }}" />
  {{ end }}
{{ end }}

{{ with .Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
{{ if .Params.openGraphImage | or $.Site.Data.siteVar.schema.openGraphImage }}<meta property="og:image" content="{{ $scratch.Get "openGraphImage" }}" />{{ end }}

{{ with .Params.pageType }}
  {{ range . }}
    <meta property="og:type" content={{ . }} />
  {{ end }}
{{ else }}
  {{ range $.Site.Data.siteVar.params.pageType }}
    <meta property="og:type" content={{ . }} />
  {{ end }}
{{ end }}

<!-- Identification for Facebook Admins -->
{{ with $.Site.Data.siteVar.params.fbAdmins }}
  <meta property="fb:admins" content="{{ . }}" />
{{ end }}

{{ block "favicons" . }}
  {{ partial "favicons.html" . }}
{{ end }}

<!-- Loading Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
<link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">
</noscript>

<!-- Critical CSS -->
{{ with resources.Get "css/critical.css" | minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}

<!-- /assets/scss/main.scss -->
{{ $options := dict "inlineImports" true }}
{{ $styles := resources.Get "css/main.scss" | toCSS | minify }}
{{ $styles = $styles | resources.PostCSS $options }}
{{ if  hugo.IsProduction  }}
  {{ $styles = $styles | minify | fingerprint | resources.PostProcess }}
{{ end }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="print" onload="if(media!=='all')media='all'" />

<!-- Schema.org https://schema.org/docs/full.html -->
<!-- Test Tool: https://search.google.com/structured-data/testing-tool -->

{{ if eq $schemaType "LocalBusiness" }}
  <script type="application/ld+json"> 
  {
    "@context": "http://www.schema.org",
    "@type": {{ $schemaType }},
    "name": {{ $.Site.Data.siteVar.schema.siteName }},
    "url": {{ if $.Site.Data.siteVar.params.canonical }}{{ $scratch.Get "currentFolder" }}{{ else }}{{ .Permalink }}{{ end }},
    "logo": {{ $scratch.Get "logo" }},
    "image": {{ $scratch.Get "openGraphImage" }},
    {{ with $.Site.Data.siteVar.schema.isAccessibleForFree }}"isAccessibleForFree": {{ $.Site.Data.siteVar.schema.isAccessibleForFree }},{{ end }}
    {{ with $.Site.Data.siteVar.schema.currenciesAccepted }}"currenciesAccepted": {{ $.Site.Data.siteVar.schema.currenciesAccepted }},{{ end }}
    {{ with $.Site.Data.siteVar.schema.paymentAccepted }}"paymentAccepted": {{ $.Site.Data.siteVar.schema.paymentAccepted }},{{ end }}
    {{ with $.Site.Data.siteVar.schema.openingHours }}
    "openingHours":[
    {{ delimit . ", " }}
    ],
    {{ end }}
    {{ with $.Site.Data.siteVar.schema.socialMedia }}
    "sameAs": [
    {{ delimit . ", " }}
    ],
    {{ end }}
    "address": {
      "@type": "PostalAddress",
      {{ with $.Site.Data.siteVar.schema.street }}"streetAddress": {{ . }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.locality }}"addressLocality": {{ . }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.region }}"addressRegion": {{ . }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.code }}"postalCode": {{ . }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.country }}"addressCountry": {{ . }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.faxNumber }}"faxNumber": {{ . | safeHTML }},{{ end }}
      {{ with $.Site.Data.siteVar.schema.telephone }}"telephone": {{ . | safeHTML }}{{ end }}
    }
  }
  </script>
{{ end }}

<!-- RSS Feed -->
{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}