{{ define "main"}}
<div class="page singlehtml my-10">
  <h1 class="text-9xl font-bold text-center -mt-6 xl:mt-10">404</h1>
  <span class="text-center block mb-4">{{ i18n "404_text" }}</span>
  <a class="bg-gray-200 rounded-lg md:bg-transparent md:rounded-none md:underline md:hover:text-red-700 px-4 py-4 md:py-0 mr-4 mb-4 block text-center" href="{{ .Site.BaseURL }}">{{ i18n "404_backtostart"}}</a>
</div>
{{ end }}