<picture>
  <!-- Load WEBP -->
  <source media="(min-width: 1024px)" type="image/webp"
     srcset="{{ .Get "src" }}_1024.webp 1024w,
     {{ .Get "src" }}_1280.webp 1280w,
     {{ .Get "src" }}_1536.webp 1536w" />
  <source media="(min-width: 768px)" type="image/webp"
    srcset="{{ .Get "src" }}_768.webp 1x,
    {{ .Get "src" }}_768@2.webp 2x"
    width="768" height="768" />
  <source media="(max-width: 767px)" type="image/webp"
    srcset="{{ .Get "src" }}_640.webp 1x"
    width="640" height="640" />

  <!-- Load JPG/PNG -->
  <source media="(min-width: 1024px)" type="image/jpeg"
     srcset="{{ .Get "src" }}_1024.{{ .Get "type" }} 1024w,
     {{ .Get "src" }}_1280.{{ .Get "type" }} 1280w,
     {{ .Get "src" }}_1536.{{ .Get "type" }} 1536w" />
  <source media="(min-width: 768px)" type="image/jpeg"
    srcset="{{ .Get "src" }}_768.{{ .Get "type" }} 1x,
    {{ .Get "src" }}_768@2.{{ .Get "type" }} 2x" 
    width="768" height="768" />
  <source media="(max-width: 767px)" type="image/jpeg"
    srcset="{{ .Get "src" }}_640.{{ .Get "type" }} 1x"
    width="640" height="640" />
  <img class="{{ if eq (.Get "size") "fullwidth" }}-mx-4 w-screen max-w-vw sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-xxl{{ end }}" width="{{ .Get "width" }}" height="{{ .Get "height" }}" src="{{ .Get "src" }}_1536.{{ .Get "type" }}" {{ if eq (.Get "loading") "lazy" }}loading="lazy"{{ end }} alt="{{ .Get "alt" }}" title="{{ .Get "title" }}" />
</picture>