<h3 class="pt-4">{{ i18n "StockFotos" }}</h3>
<ul class="list-disc ml-5">
  {{ range $.Site.Data.siteVar.stockImages }}
  <li><a href="{{ .imagesrc }}" title="{{ .imagetitle }}">{{ i18n "Fotovon" }}</a> <a href="{{ .authorsrc }}" title="{{ .author }}">{{ .author }}</a> @ <a href="{{ .sitesrc }}" title="{{ .site }}">{{ .site }}</a>  </li>
  {{ end }}
</ul>